/* Write your CSS here */
.MatchCardMainContainer {
  background-color: #0f172a;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 200px;
  margin: 30px;
}
.teamLogoImage {
  width: 100px;
  height: 100px;
  align-self: center;
}
.MatchCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.listOne {
  list-style-type: none;
}
.MatchCardTeamName {
  font-size: 15px;
  text-align: center;
}
.TeamResult {
  font-size: 10px;
  text-align: center;
}
.TeamStatus {
  color: #e31a1a;
  text-align: center;
}
